@{
    ViewBag.Title = "玉山雲端秘書-首登密碼變更";
    Layout = "~/Views/Shared/_ChangePassword.cshtml";
}
@section Style
{
    <link href="@Url.Content("~/Content/Web.css")" rel="stylesheet" type="text/css" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/TreeMenu.css")" />
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/OptionTMenu.css")" />
    <link rel="stylesheet" media="all" type="text/css" href="@Url.Content("~/css/dropdown.css")" />
    <link href="css/personal.css" rel="stylesheet" type="text/css" />
}
@section Script{
    <script src="@Url.Content("~/Scripts/TreeMenu.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/OptionTMenu.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/MonitorSetting.js")" type="text/javascript"></script>    
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>玉山雲端秘書-首登密碼變更</title>
    <link runat="server" rel="shortcut icon" href="/ESUN.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="/ESUN.ico" type="image/ico" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/webcss.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/keyvisual.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/glowtabs.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/personal.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" media="all" type="text/css" href="@Url.Content("~/css/dropdown.css")" />
    <script src="@Url.Content("~/Scripts/CA.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/String.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Common.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/StringBuilder.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.8.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.11.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Plugin_ScreenCover.js")" type="text/javascript" ></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/String.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Common.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/json2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/CA.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/BrowserDetection.js")" type="text/javascript"></script>
    <script type="text/javascript">
        function MM_preloadImages() { //v3.0
            var d = document; if (d.images) {
                if (!d.MM_p) d.MM_p = new Array();
                var i, j = d.MM_p.length, a = MM_preloadImages.arguments; for (i = 0; i < a.length; i++)
                    if (a[i].indexOf("#") != 0) { d.MM_p[j] = new Image; d.MM_p[j++].src = a[i]; }
            }
        }
    </script>
    <style type="text/css">
        .line {background-image: url(@Url.Content("~/images/management_line.jpg"));height:22px}
        .txt_ff{font-size:13px; line-height:20px;color:#fff;}
        .txt_c{font-size:12px; line-height:18px;color:#666;}
        .txt_b{font-size:12px; color:#557fb3; padding:6px 0;}
        .bg   {background-image:url(@Url.Content("~/images/service_bg_1.jpg"));height: 140px;}
        .line1
        {
            background-image: url(@Url.Content("~/images/personal_line_c.jpg"));
        }
        .line2
        {
            background-image: url(@Url.Content("~/images/personal_line_c01.jpg"));
        }
        .txt_e
        {
            font-size: 12px;
            line-height: 18px;
            color: #F00;
        }
        .txt_f
        {
            font-size: 12px;
            line-height: 18px;
            color: #090;
        }
        body
        {
            background: url(@Url.Content("~/images/bg_index_fullscreen_2.jpg")) left top no-repeat;
        }
        html,
        body {
           margin:0;
           padding:0;
           height:100%;
        }
        #container {
           min-height:100%; 
        }
        #content { 
           padding-bottom:135px;   /* Height of the footer */
        }
        #footer { 
           width:100%; 
           position:relative;
           margin-top:-135px; 
        }
        .HideActiveX {
          position: absolute;
          left: -10000px;
          width:0px;
          height:0px;
        }
    </style>
    <style type="text/css">
        body {
	        margin-left: 0px;
	        margin-top: 0px;
	        margin-right: 0px;
	        line-height:1;
	        padding:0;
	        font-size: 12px;
	        background-color: #FFFFFF;
        }
        a {
	        font-weight: normal;
	        font-size: 12px;
	        color: #666666;
	        text-decoration: none;
	        line-height: 18px;
        }
        a:link {
	        color: #666666;
        }
        a:visited {
	        color: #666666;
        }
        a:active, a:hover {
	        color: #FF6699;
        }
        /* 表尾文字 */
        .w1 {font-family: "新細明體";
	        font-size: 12px;
	        color: #666666;
	        text-decoration: none;
        }
        .note2 {
	        font-size: 13px;
	        color: #666666;
        }
        .note {font-size: 18px;
	        font-weight: bold;
	        color: #666;
        }
        .w11 {
	        font-family: "新細明體";
	        font-size: 12px;
	        color: #666666;
	        text-decoration: none;
	        font-weight: normal;
        }
        .w111 {
	        font-family: "新細明體";
	        font-size: 12px;
	        color: #666666;
	        text-decoration: none;
	        font-weight: normal;
        }
        #divBody
        {
            width: 1024px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: -36px;
            overflow: visible;
        }
        #divContent
        {
            margin-top: 20px;
        }
        #divFooterSpacer
        {
            height: 44px;
        }
        #divFooter
        {
            border-top: 1px solid #000;
            height: 35px;
        } 
        .GroupShowButton
        {
            background: gray;
        }
        .GroupHideButton
        {
            background: lightgray;
        }
    </style>
    <script type="text/javascript">
    ///偵測大寫模式
    function detectCapsLock() {
        var e = event || window.event;
        var o = e.target || e.srcElement;
        var oTip = document.getElementById("lblError");
        var keyCode = e.keyCode || e.which;
        var isShift = e.shiftKey || (keyCode == 16) || false;
        if (((keyCode >= 65 && keyCode <= 90) && !isShift) || ((keyCode >= 97 && keyCode <= 122) && isShift)) {
            oTip.innerText = '注意!! 您現在輸入的模式為『大寫模式』';
        }
        else {
            if (!(keyCode >= 33 && keyCode <= 64))
                oTip.innerText = "";
        }
    }
    $(function () {
        $("#SummitButton").click(
                function () {
                    var spw = $.trim($("#SourcePWText").val());
                    var newpw = $.trim($("#NewPWText").val());
                    var cnewpw = $.trim($("#ConfirmNewPWText").val());
                    if ((spw == undefined) | (spw == null) | (spw == '')) {
                        alert("舊密碼不可空白");
                        $("#SourcePWText").focus();
                        return;
                    }
                    if ((newpw == undefined) | (newpw == null) | (newpw == '')) {
                        alert("新密碼不可空白");
                        $("#NewPWText").focus();
                        return;
                    }
                    if (newpw == cnewpw) {
                        if ((newpw.length < 6) | (newpw.length > 10)) {
                            alert("密碼長度應介於6-10位");
                            $("#NewPWText").focus();
                            return;
                        } else {
                            var temp1 = newpw.substring(0, 1);
                            var temp2 = newpw.substring(1, 2);
                            var temp3 = newpw.substring(2, 3);
                            var temp4 = "";
                            var next = true;
                            for (var i = 3; i <= newpw.length; i++) {
                                if (temp3 == temp1 && temp3 == temp2) {
                                    alert("密碼不得連續3位一樣");
                                    $("#NewPWText").val();
                                    $("#ConfirmNewPWText").val();
                                    next = false;
                                    break;
                                }
                                else {
                                    temp1 = newpw.substring(i - 2, i - 1);
                                    temp2 = newpw.substring(i - 1, i);
                                    temp3 = newpw.substring(i, i + 1);
                                }
                            }
                            if (next) {
                                for (var j = 0; j < newpw.length; j++) {
                                    temp1 = newpw.substring(j, j + 1);
                                    if ((temp1.charCodeAt() >= 32 && temp1.charCodeAt() <= 47) || (temp1.charCodeAt() >= 58 && temp1.charCodeAt() <= 64) || (temp1.charCodeAt() >= 91 && temp1.charCodeAt() <= 96) || (temp1.charCodeAt() >= 123 && temp1.charCodeAt() <= 126)) {
                                        alert("密碼不得為英文及數字以外的值");
                                        $("#NewPWText").val();
                                        $("#ConfirmNewPWText").val();
                                        next = false;
                                        break;
                                    }
                                    else {
                                        if (temp1.charCodeAt() >= 48 && temp1.charCodeAt() <= 58) { temp4 += "N" }
                                        else { temp4 += "W"; }
                                    }
                                }
                                if (next) {
                                    if (newpw == spw && spw == cnewpw && newpw == cnewpw) {
                                        alert("新舊密碼不得相同");
                                        $("#NewPWText").val();
                                        $("#ConfirmNewPWText").val();
                                        $("#NewPWText").focus();
                                    } else {
                                        $.ajax({
                                            type: "POST",
                                            url: '@Url.Content("~/Data/NewChangePassword?NewPassword=")' + newpw + '&OldPassword=' + spw,
                                            data: "data=" + newpw,
                                            success: function (jData) {
                                                try {
                                                    var jsonResult = $.parseJSON(jData);
                                                    if (jsonResult == undefined) { }
                                                    else {
                                                        if (jsonResult.Success) {
                                                            alert("密碼修改成功，下次請以新密碼登入。");
                                                            window.location.href = '@Url.Content("~/")';
                                                        } else { alert("密碼變更錯誤 : " + jsonResult.Msg); }
                                                    }
                                                } catch (e) {
                                                    HandleError(e);
                                                }
                                            },
                                            error: function (obj) {
                                            }
                                        });
                                    }
                                }
                            }
                        }
                    } else {
                        alert("新密碼需與確認新密碼相同");
                        $("#ConfirmNewPWText").focus();
                        return;
                    }
                }
            );
            $("#CancelButton").click(
                function () {
                    alert("首次登入必須變更密碼才能使用本系統，將回到登入頁。");
                    window.location.href = '@Url.Content("~/Login/DoLogin")';
                }
            );
    });
    </script>
</head>
<body>
    <div align="center">
        <table style="width:420px">
            <tr>
                <td align="center" style="width:55%; height:24px; background-color:gray; color:White">
                    原密碼：
                </td>
                <td align="left" style="width:45%">
                    <input id="SourcePWText" type="password" onkeypress="javascript:detectCapsLock();" AutoComplete="off" value="" style="text-align:center; width:100%" />
                </td>
            </tr>
            <tr>
                <td align="center" style="width:55%; height:24px; background-color:gray; color:White">
                    新密碼：
                </td>
                <td align="left" style="width:45%">
                    <input id="NewPWText" type="password" onkeypress="javascript:detectCapsLock();" AutoComplete="off" value="" style="text-align:center; width:100%" />
                </td>
            </tr>
            <tr>
                <td align="center" style="width:55%; height:24px; background-color:gray; color:White">
                    確認新密碼：
                </td>
                <td align="left" style="width:45%">
                    <input id="ConfirmNewPWText" type="password" onkeypress="javascript:detectCapsLock();" AutoComplete="off" value="" style="text-align:center; width:100%" />
                </td>
            </tr>
        </table>
        <div id="lblError" style="color:Gray; height:22px"></div>
        <div style="width:420; height:24px; color:red; padding-top:4px" id="MessageState">
            首次登入系統，請變更使用者密碼，才能使用其他功能
        </div>
        <br />
        <div style="width:420; height:24px; color:red" id="ButtonsDiv">
            <input id="SummitButton" type="button" value="確定" style="width:60px; height:24px; cursor:pointer" />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input id="CancelButton" type="button" value="取消" style="width:60px; height:24px; cursor:pointer" />
        </div>
    </div>
</body>
</html>
